certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
DataProperty==0.43.1
docker==3.7.3
docker-pycreds==0.4.0
humanreadable==0.0.7
idna==2.8
importlib-metadata==0.19
kiwisolver==1.1.0
Logbook==1.4.3
matplotlib==3.1.1
mbstrdecoder==0.8.1
msgfy==0.0.7
numpy==1.17.0
path.py==12.0.1
pathvalidate==0.29.0
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.22.0
simplejson==3.16.0
SimpleSQLite==0.45.2
six==1.12.0
speedtest-cli==2.1.1
sqliteschema==0.16.2
subprocrunner==0.17.1
tabledata==0.9.1
tcconfig==0.23.0
typepy==0.6.0
urllib3==1.25.3
voluptuous==0.11.5
websocket-client==0.56.0
zipp==0.5.2
